@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
@font-face {
  font-family: Amsdam;
  src: url(Amsdam.otf); }
body {
  max-width: 100vw;
  background-color: #e3e3e3;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif; }

.clearfix:before {
  content: " ";
  display: table; }
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

section {
  margin-bottom: 100px; }

h2 {
  font-family: "Amsdam", cursive;
  text-transform: uppercase;
  margin: 0 40%;
  padding-top: 5vh;
  font-size: 4vmin;
  text-align: center;
  position: relative;
  color: #3e3d3d; }
  h2:after {
    content: "";
    display: block;
    width: 100%;
    height: 1vh;
    position: absolute;
    left: 1.3vw;
    bottom: -20px;
    background: url("../images/line_about.png") 0 0 no-repeat; }

p {
  margin: 80px;
  font-size: 2vmin;
  font-family: "Crimson Text", serif;
  color: #3e3d3d;
  text-align: center; }

.desc {
  padding: 1% 18%;
  font-size: 2.2vmin; }

.container {
  max-width: 100%;
  margin: 0 auto; }

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 10px 0; }
  .header .logo img {
    padding: 5px;
    float: left; }
  .header .logo h5 {
    float: left;
    color: #3e3d3d;
    font-size: 3vmin; }
  .header .nav ul {
    list-style-type: none; }
    .header .nav ul li {
      float: left;
      color: #b0b0b0;
      family-font: "Montserrat", sans-serif;
      padding: 5px;
      font-size: 2vmin; }
  .header .social ul {
    list-style-type: none; }
    .header .social ul li {
      color: #b0b0b0;
      float: left;
      padding: 0 4px; }
      .header .social ul li .fa-twitter {
        border-left: solid 1px #b0b0b0;
        border-right: solid 1px #b0b0b0;
        padding: 0 7px; }

.hero {
  width: 100%; }
  .hero .carousel {
    width: 100%;
    max-height: 90vh; }
  .hero .carousel-inner .active {
    width: 100%;
    margin: 0 auto; }
    .hero .carousel-inner .active .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0vh; }
      .hero .carousel-inner .active .item h5 {
        margin: 0 0 40px 0;
        font-size: 2vmin; }
      .hero .carousel-inner .active .item h1 {
        text-transform: uppercase;
        font-family: "Amsdam", cursive;
        margin: 0 16vw;
        position: relative;
        font-size: 5vmin; }
        .hero .carousel-inner .active .item h1:before {
          content: "";
          display: block;
          width: 100%;
          height: 1vh;
          position: absolute;
          left: 1vw;
          top: -20px;
          background: url(../images/line.png) 0 0 no-repeat; }
        .hero .carousel-inner .active .item h1:after {
          content: "";
          display: block;
          width: 100%;
          height: 1vh;
          position: absolute;
          left: 1vw;
          bottom: -20px;
          background: url(../images/line.png) 0 0 no-repeat; }
      .hero .carousel-inner .active .item button {
        margin: 0 auto;
        margin-top: 50px;
        background-color: transparent;
        width: 200px;
        border: solid 2px #fff;
        color: #fff; }

.about {
  max-width: 1200px;
  margin: 0 auto;
  max-height: 100%;
  padding-top: 5vh; }
  .about .content {
    background-color: #fff; }
    .about .content p {
      margin: 80px 40px;
      font-size: 2vmin;
      font-family: "Crimson Text", serif;
      color: #3e3d3d; }
    .about .content .btn {
      margin: 0 auto;
      width: 100%; }
      .about .content .btn button {
        border: solid 2px #3e3d3d;
        background-color: #fff;
        color: #3e3d3d;
        font-family: "Crimson Text", serif;
        margin: 20px 0 35px 0;
        font-size: 2vmin;
        padding: 3px 20px; }
        .about .content .btn button:hover {
          background-color: #3e3d3d;
          color: #fff; }
  .about .about_icon {
    margin: 40px 20px 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .about .about_icon div {
      border-right: solid 1px grey;
      padding: 0 100px;
      color: #3e3d3d;
      text-align: center; }
      .about .about_icon div:last-child {
        border: none; }
      .about .about_icon div img {
        width: 4vw;
        margin: 0 auto; }
      .about .about_icon div h3 {
        text-transform: uppercase;
        font-size: 2vmin;
        margin: 15px 0;
        font-weight: 1000; }
      .about .about_icon div h1 {
        font-size: 5vmin; }

.services {
  background-image: url("../images/background_services.jpg");
  height: 100%; }
  .services .container {
    max-width: 1000px; }
  .services h2 {
    margin: 0 42%;
    color: #fff; }
    .services h2:after {
      background: url("../images/divider.png") 0 0 no-repeat; }
  .services p {
    color: #fff; }
  .services .services_content {
    margin: 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .services .services_content .content {
      max-width: 300px;
      margin-bottom: 50px;
      border-left: solid 1px #b0b0b0;
      border-right: solid 1px #b0b0b0;
      border-bottom: solid 1px #b0b0b0;
      position: relative; }
      .services .services_content .content:before {
        content: '';
        position: absolute;
        top: -1px;
        left: 67%;
        height: 1px;
        width: 100px;
        border-top: solid 1px #b0b0b0; }
      .services .services_content .content:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        height: 1px;
        width: 100px;
        border-top: solid 1px #b0b0b0; }
      .services .services_content .content img {
        width: 60px;
        padding: 12px;
        position: absolute;
        background-color: transparent;
        top: -8%;
        left: 41%; }
      .services .services_content .content i {
        color: #b0b0b0;
        font-size: 5vmin;
        padding: 15px;
        position: absolute;
        background-color: transparent;
        top: -8%;
        left: 41%; }
      .services .services_content .content h5 {
        padding-top: 60px;
        text-align: center;
        color: #b0b0b0;
        font-family: "Crimson Text", serif;
        text-transform: uppercase;
        font-size: 2.2vmin; }
      .services .services_content .content p {
        margin: 40px 60px;
        font-size: 2vmin;
        font-family: "Crimson Text", serif;
        color: #b0b0b0; }

.history {
  margin: 0 auto;
  max-width: 1100px; }
  .history .container_history {
    margin: 0 auto;
    max-width: 1000px; }
  .history .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    font-family: "Crimson Text", serif; }
    .history .timeline:before {
      top: 40px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 2px;
      background-color: #3e3d3d;
      left: 50%;
      margin-left: -1.5px;
      height: 93%; }
    .history .timeline li {
      list-style-type: none;
      position: relative; }
      .history .timeline li:before {
        content: " ";
        display: table; }
      .history .timeline li:after {
        clear: both;
        content: " ";
        display: table; }
      .history .timeline li img {
        top: -12px;
        display: block;
        width: 75px;
        margin: 0 auto;
        text-align: center;
        background-color: #e3e3e3; }
      .history .timeline li .bulb {
        width: 50px; }
      .history .timeline li .timeline-panel {
        width: 45%;
        float: left;
        background: transparent;
        border: 2px solid #3e3d3d;
        padding: 20px;
        position: relative;
        color: #3e3d3d; }
        .history .timeline li .timeline-panel:before {
          content: '';
          border: 10px solid transparent;
          border-width: 0 0 13px 13px;
          border-color: transparent transparent transparent #3e3d3d;
          position: absolute;
          top: 11%;
          left: 100%; }
        .history .timeline li .timeline-panel:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto; }
        .history .timeline li .timeline-panel h4 {
          text-transform: uppercase;
          font-size: 1.5vmin;
          letter-spacing: 0.3vmin;
          font-weight: 600; }
        .history .timeline li .timeline-panel h6 {
          font-size: 1.5vmin;
          margin-top: -5px;
          font-weight: 600; }
        .history .timeline li .timeline-panel p {
          margin: 0;
          text-align: left;
          color: #3e3d3d; }
        .history .timeline li .timeline-panel:hover {
          color: #fff;
          background-color: #3e3d3d; }
          .history .timeline li .timeline-panel:hover p {
            color: #fff; }
      .history .timeline li .tl-circ {
        position: absolute;
        top: 5px;
        left: 50.5%;
        text-align: center;
        background: #3e3d3d;
        width: 20px;
        height: 20px;
        line-height: 10px;
        margin-left: -16px;
        border-radius: 50%;
        z-index: 99999; }
    .history .timeline .end {
      top: 40px; }
    .history .timeline .timeline-inverted .timeline-panel {
      float: right; }
      .history .timeline .timeline-inverted .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .history .timeline .timeline-inverted .timeline-panel:after {
        content: '';
        border: 10px solid transparent;
        border-width: 13px 0 0 13px;
        border-color: transparent transparent transparent #3e3d3d;
        position: absolute;
        top: 11%;
        left: -15px;
        transform: rotate(180deg); }

.our_team {
  margin-top: 15vh;
  background-image: url("../images/background_team.jpg"); }
  .our_team .container_team {
    margin: 0 auto;
    max-width: 1100px;
    height: 85vh; }

/*# sourceMappingURL=style.css.map */
