@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@font-face {
font-family: Amsdam;
src:url(Amsdam.otf);
}
//FONTS
$cursive: 'Amsdam', cursive;
$sans: 'Montserrat', sans-serif;
$serif: 'Crimson Text', serif;
//COLORS
$white: #fff;
$grey: #e3e3e3;
$lightgrey: #b0b0b0;
$darkgrey: #3e3d3d;



body {
	max-width: 100vw;
	background-color: $grey;
	margin: 0 auto;
	font-family: $sans;
}

section {
	margin-bottom: 100px;
}

h2 {
	font-family: $cursive;
	text-transform: uppercase;
	margin: 0 40%;
	padding-top: 5vh;
	font-size: 3vmin;
	text-align: center;
	position: relative;
	color: $white;
	&:after {
    	content: "";
		display: block;
		width: 100%;
		height: 1vh;
		position: absolute;
		left: 1vw;
		bottom: -20px;
		background: url(../images/divider.png) 0 0 no-repeat;
    }
}


p {
	margin: 80px;
	font-size: 2vmin;
	font-family: $serif;
	color: $white;
	text-align: center;
}

.container {
	max-width: 100%;
	margin: 0 auto;
}

.header {
	background-color: $white;
	display: flex;
	justify-content: space-around; 
	text-transform: uppercase;
	padding: 10px 0;
	.logo {
		img {
			padding: 5px;
			float: left;
		}
		h5 {
			float: left;
			color: $darkgrey;
			font-size: 3vmin;
		}
	}
	.nav {
		ul {
			list-style-type: none;
			li {
				float: left;
				color: $lightgrey;
				family-font: $sans;	
				padding: 5px;
				font-size: 2vmin;
			}
		}
	}
	.social {
		ul {
			list-style-type: none;
			li {
				color: $lightgrey;
				float: left;
				padding: 0 4px;
				.fa-twitter {
					border-left: solid 1px $lightgrey;
					border-right: solid 1px $lightgrey;		
					padding: 0 7px;
				}
			}
		}
	}
}

.hero {
	width: 100%;
	.carousel {
		width: 100%;
		max-height: 90vh;
	}
	.carousel-inner {
		.active {
			width: 100%;
    		margin: 0 auto;
    		.item {
    			display: flex; 
    			flex-direction: column;
    			justify-content: center;
    			top: 0vh; 
    			h5 {
    				margin: 0 0 40px 0;
    				font-size: 2vmin;
    			}
    			h1 {
    				text-transform: uppercase;
    				font-family: $cursive;
    				margin: 0 16vw;
    				position: relative;
    				font-size: 5vmin;
    				&:before {
    					content: "";
					    display: block;
					    width: 100%;
					    height: 1vh;
					    position: absolute;
					    left: 1vw;
					    top: -20px;
					    background: url(../images/line.png) 0 0 no-repeat;
    				}
    				&:after {
    					content: "";
					    display: block;
					    width: 100%;
					    height: 1vh;
					    position: absolute;
					    left: 1vw;
					    bottom: -20px;
					    background: url(../images/line.png) 0 0 no-repeat;
    				}
    			}
    			button {
    					margin: 0 auto;
    					margin-top: 50px;
    					background-color: transparent;
    					width: 200px;
    					border: solid 2px $white;
    					color: $white;

    			}
    		}
    	}
	}
}

.about {
	max-width: 1200px;
	margin: 0 auto;
	max-height: 100%;
	padding-top: 5vh;
	.content {
		background-color: $white;
		h2 {
			color: $darkgrey;
			&:after {
				background: url('../images/line_about.png') 0 0 no-repeat;
			}
		}
		p {
			margin: 80px 40px;
			font-size: 2vmin;
			font-family: $serif;
			color: $darkgrey;
		}
		.btn {
			margin: 0 auto;
			width: 100%;
			button {
				border: solid 2px $darkgrey;
				background-color: $white;
				color: $darkgrey;
				font-family: $serif;
				margin: 20px 0 35px 0;
				font-size: 2vmin;
				padding: 3px 20px;
				&:hover {
					background-color: $darkgrey;
					color: $white;
				}
			}
		}
	}
	.about_icon {
		margin: 40px 20px 60px 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		div {
			border-right: solid 1px grey;
			padding: 0 100px;
			color: $darkgrey;
			text-align: center;
			&:last-child {
				border: none;
			}
			img {
				width: 4vw;
				margin: 0 auto;
			}
			h3 {
				text-transform: uppercase;
				font-size: 2vmin;
				margin: 15px 0;
				font-weight: 1000;
				
			}
			h1 {
				font-size: 5vmin;
			}
		}
	}
}

.services {
	background-image: url("../images/background_services.jpg");
	height: 100%;
	.container {
		max-width: 1000px;

	}
	h2 {
		margin: 0 42%;
		color: $white;
		font-family: $serif;
	}
	.desc {
		padding: 1% 18%;
		font-size: 2.2vmin;
	}
	.services_content {
		margin: 0 5vw;
		display: flex; 
		flex-wrap: wrap;
		justify-content: space-around;
		.content {
			max-width: 300px;
			margin-bottom: 50px;
			border-left: solid 1px $lightgrey;
			border-right: solid 1px $lightgrey;
			border-bottom: solid 1px $lightgrey;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: -1px;
				left: 67%;
				height: 1px;
				width: 100px;
				border-top: solid 1px $lightgrey;
			}
			&:after{
				content: '';
				position: absolute;
				top: -1px;
				left: 0;
				height: 1px;
				width: 100px;
				border-top: solid 1px $lightgrey;
			}
			
			img {
				width: 60px;
				padding: 12px;
				position: absolute;
				background-color: transparent;
				top: -8%;
				left: 41%;
			}
			i {
				color: $lightgrey;
				font-size: 5vmin;
				padding: 15px;
				position: absolute;
				background-color: transparent;
				top: -8%;
				left: 41%;
			}
			h5 {
				padding-top: 60px;
				text-align: center;
				color: $lightgrey;
				font-family: $serif;
				text-transform: uppercase;
				font-size: 2.2vmin;
			}
			p {
				margin: 40px 60px;
				font-size: 2vmin;
				font-family: $serif;
				color: $lightgrey;

			}
		}
	}
}